## What is a String ?
- A String is a sequence of character (Letter, numbers , symbols) enclosed in quotes. " data"
- It's used to represent text data in python.

In [ ]:
# how to create a string
# you can create string using single quotes , double ,triple .

In [7]:
# Using single quotes 
names = 'Swarna'
# Using double quotes
named = "Gowri"

print(type(names))
print(type(named))

<class 'str'>
<class 'str'>

In [3]:
type(names)

str

In [5]:
age = 30

In [6]:
type(age)

int

In [9]:
paragraph = ''' this a long paragraph 
it is usefull with long text 
to enter ....
'''

In [10]:
type(paragraph)

str

In [11]:
print(paragraph)

 this a long paragraph
it is usefull with long text
to enter ....

In [13]:
example = "swarna's pen is it"

In [14]:
print(example)

swarna's pen is it

## Using f String (Formatted string)
f-strings lets you embed variables inside a string easily

In [15]:
name = "Bhanu"

In [16]:
f"{name}'s book"

"Bhanu's book"

In [17]:
age =17

In [19]:
f"my name is{name} and my age is {age}"

'my name isBhanu and my age is 17'

In [20]:
x = 10
y = 20
print(f"{x}+{y}= {x+y}")

10+20= 30

### key points for f string 
- Start the string gwith f"......{varaible}......", f'...........{varaible}.............'
f'''...........{varaible}..........
.................{varaible}....
...........'''
- Use {} to insert variabe or expression

### common operations and methods
-String have a large number of build- in method for mainpulation string
### 1. concatenation (+) and Repetition (*)
- '+' joins two strings togethers, creating a new string.
- '*' Repeats a string a specified number of times (using an integer), creates new string.

In [23]:
a = "python"
b = "HTML"
a + " " + b

'python HTML'

In [ ]:
c = a + " : " + b
print(f"print the value inside the  c :{c}")

print the value inside the  c :python:HTML

In [ ]:
# "welcome to Edukron's Data Engineer Course !"

In [ ]:
course_name = "Data Enginner"
institute = "Edukron"
print(f"welcome to {institute}'s {course_name } Course !")

welcome to Edukron's Data Enginner !

In [26]:
print("welcome to "+ institute + "'s " + course_name +" course !" )

welcome to Edukron's Data Enginner course !

In [29]:
#Repeating a separator 
separator = " -*= " * 10
separator

' -*=  -*=  -*=  -*=  -*=  -*=  -*=  -*=  -*=  -*= '

Input()
- Function is used to take data from the user at runtime through they keyboard
- what ever you pass through this input() function its in the string

### int()     #type casting
- it is used to convert any integer which is in the form of string

### float()       # type casting
- it is used to convert any float which is in the form of string

In [1]:
name = "Swarna"

In [2]:
name

'Swarna'

In [3]:
name = input("Enter your name")

In [4]:
name

'Bhanu'

In [5]:
age = input("enter a age")

In [6]:
age

'23'

In [1]:
age1 = int(input("Enter a number "))
age1

89

In [2]:
type(age1)

int

In [3]:
height = float(input("enter a height"))
height

56.7

In [4]:
type(height)

float

### len()
- this is built in function that returns the number of charaters (lenght)of a string

In [3]:
family = "Fruits"
apple = "lets eat one fruit daily "
health = "it make our health better"

In [4]:
family_lenghth =len(family)
family_lenghth

6

In [5]:
apple_lenghth =len(apple)
apple_lenghth

25

In [6]:
health_lenghth =len(health)
health_lenghth

25

In [7]:
type(health_lenghth)

int

In [9]:
# length of a empty string
a =""
len(a)

0

In [10]:
# lenght of string with spaces
b = "     "
len(b)

5

In [13]:
# String with numbers, spaces  and special symobls
c = " agjjmn m !@#$E$% 12234567"
d = len(c)
print(d)
print(type(c))

26
<class 'str'>

In [ ]:
family = "Fruits"
apple = "lets eat one fruit daily "
health = "it make our health better"

In [15]:
# Concationation
# length after concatioation 
e = family + apple
f = len(e)
print(f)
print(e)

31
Fruitslets eat one fruit daily

# Indexing ([]) and slicing ([:])
- Indexing - Accessing a string character at a specific position (index). python 0 - based Indexing (first character is at index 0).
- Negative Indexing count from the end (-1 is the last character)

In [18]:
name = "Swarna"
name[0]

'S'

" S  w  a  r  n  a "
[ 0  1  2  3  4  5]
[-6 -5 -4 -3 -2 -1]

In [17]:
name[1]

'w'

In [19]:
name[2]

'a'

In [20]:
name[-1]

'a'

In [22]:
health = "it make our health better"

In [23]:
# accesing 'm
health[3]

'm'

## slicing: ([start: stop : stop])
- extracting portion (substring) of the string using 
([start: stop : stop])
  - start : The index where the slice begins (inclusive ) .  Default to 0
  - stop : The index where the slice end (exclusive). Defaults to the end of the srting.
  - step : The increment between indices . Defaults to 1

In [24]:
health = "it make our health better"
len(health)

25

In [25]:
# Get the first 5 char of the health
health[0:6]

'it mak'

In [26]:
health[0:7:2]

'i ae'

In [28]:
health[:7]

'it make'

In [29]:
health[:]

'it make our health better'

In [30]:
health[-6:]

'better'

In [31]:
health[-6:-1]

'bette'

In [32]:
# step
name = "Swarna"
name[::2]

'San'

In [33]:
# Reversing the string
name[::-1]

'anrawS'

In [ ]:
# String operation:
# String is inmutable
# concatation
#reverse
#indexing
#slicing
# split

# String methods str.lower() and str.upper()
- lower() :Returns a new string with all characters converted to lower

- upper() :Returns a new string with all characters converted to upper

In [3]:
family = "Fruits"
apple = "lets eat one fruit daily "
health = "it make our health better"

In [4]:
print(family)
family.upper()

Fruits

'FRUITS'

In [6]:
print(apple)
apple.upper()

lets eat one fruit daily

'LETS EAT ONE FRUIT DAILY '

In [9]:
print(apple)
apple.lower()

lets eat one fruit daily

'lets eat one fruit daily '

In [10]:
gender1 = "male"
gender2 = "Male"
gender3 = "MALE"

In [11]:
print(gender1)
print(gender2)
print(gender3)

male
Male
MALE

In [12]:
print(gender1.lower())
print(gender2.lower())
print(gender3.lower())

male
male
male

In [ ]:
print(gender1.upper())
print(gender2.upper())
print(gender3.upper())

In [13]:
code ="22F71a05b6"
print(code.upper())
print(code.lower())

22F71A05B6
22f71a05b6

In [17]:
first_name = "Swarna"
last_name = "Gowri"
full_name = first_name + " " +last_name
print(full_name)
print(" upper case : "+full_name.upper())
print("lower case : " +full_name.lower())
print(len(full_name))

Swarna Gowri
 upper case : SWARNA GOWRI
lower case : swarna gowri
12

### str.strip()
- it returns a new string with leading and trailing character removed .

- if char is omitted or none , it removes whitespaces char 
- if char is given it removes any character in the char string from the end
- by using this we can remove white spaces


str.strip(['char'])

str.lstrip() : starting chracter

str.rstrip(): end character

In [1]:
name1 = "Swarna"
name2 = "  Swarna"
name3 = " Swarna "
name4 = "Swarna"

In [2]:
name1 == name2

False

In [4]:
name1.strip()

'Swarna'

In [5]:
name2.strip()

'Swarna'

In [9]:
#removing leading ("space at the start")/ trailing whitespaces ("sapce at the end")


name3 = " Swarna "
print(name3)
v = name3.strip()
print(v)
v

 Swarna
Swarna

'Swarna'

In [10]:
leading_space = " Swarna "
print(leading_space)
left_strip = leading_space.lstrip()
left_strip

 Swarna

'Swarna '

In [11]:
leading_space = " Swarna "
print(leading_space)
r_strip = leading_space.rstrip()
r_strip

 Swarna

' Swarna'

In [12]:
# by removing any value 
leading_space = "==Swarna=="
print(leading_space)
r_strip = leading_space.rstrip("=")
r_strip

==Swarna==

'==Swarna'

In [13]:
# by removing any value 
leading_space = "==Swarna=="
print(leading_space)
l_strip = leading_space.lstrip("=")
l_strip

==Swarna==

'Swarna=='

In [15]:
leading_space = "==Swarna=="
print(leading_space)
l_strip = leading_space.lstrip("=").rstrip("=")
l_strip

==Swarna==

'Swarna'

In [16]:
name = "Swarna Gowri"
name.lstrip("Swarna")

' Gowri'

In [18]:
name = "Swarna Gowri"
name.lstrip("a")
# doesnot works

'Swarna Gowri'

In [22]:
name = "Swarna Gowri"
name.strip("Swarna ri")

'Go'

### str.replace(old, new[count])

In [1]:
course_slogan = "learn Data Engineering with real_time projects"
tech_stack = "Azure DevOps and Python and java"

In [5]:
# Replace  "data engineering" with "data science"
new_slogan = course_slogan.replace("Data Engineering","Data Science")
print(course_slogan)
print(new_slogan)

learn Data Engineering with real_time projects
learn Data Science with real_time projects

In [11]:
# this process is called chaing  -.replace(" "," _").lower()
r_slogan = course_slogan.replace(" "," _").lower()
print(course_slogan)
print(r_slogan)

learn Data Engineering with real_time projects
learn _data _engineering _with _real_time _projects

In [12]:
#count
tech_stack = "Azure DevOps and Python and java"

In [18]:
new_s = tech_stack.replace("and", "&")
new_s

'Azure DevOps & Python & java'

In [17]:
new_s = tech_stack.replace("and", "&",1)
new_s

'Azure DevOps & Python and java'

In [ ]:
course_slogan = "learn Data Engineering with real_time projects"
course_slogan.replace(" ","")

'learnDataEngineeringwithreal_timeprojects'

In [20]:
course_slogan = "learn Data Engineering with real_time projects"
course_slogan.replace(" ","").lower()

'learndataengineeringwithreal_timeprojects'

# split

str.split(sep=None, maxsplit=-1)

Explanation: Returns a list of substrings (words) by splitting the string at occurrences of the separator sep.

- If sep is omitted or None, splits by any whitespace character and discards empty strings.
- If sep is specified, splits exactly at that separator.
- maxsplit: If specified, performs at most maxsplit splits (resulting in maxsplit + 1 elements in the list). The remainder of the string is the last element

In [ ]:
course_slogan = "learn Data Engineering with real_time projects"

In [3]:
# splitting slogan by white spaces ( default)
words = course_slogan.split()
words

['learn', 'Data', 'Engineering', 'with', 'real_time', 'projects']

In [6]:
#splitting tech_stack by comma
tech_stack = "Azure,DevOps,and,Python,and,java"
word = tech_stack.split(',')
print(word)
len(word)

['Azure', 'DevOps', 'and', 'Python', 'and', 'java']

6

In [5]:
#splitting with the character 
name = "Swarna"
name.split('a')

['Sw', 'rn', '']

In [11]:
#Specify number of splits we want
tech_stack = "Azure,DevOps,and,Python,and,java"
word = tech_stack.split(',',maxsplit=2)
print(word)
len(word)

['Azure', 'DevOps', 'and,Python,and,java']

3