In [ ]:

for i in range(1,11):
    if i%2 ==0:
        print(i)

2
4
6
8
10

In [4]:
#Create a list of squares from 1 to 10 using list comprehension
# Traditional method
list =[]
for i in range(1,11):
    
    list.append(i**2)
print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
#Create a list of squares from 1 to 10 using list comprehension
v = [i**2 for i in range(1,11) ]
v

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
#Create a list of even numbers from 1 to 20.
l = []
for i in range(1,21):
    if i%2==0:
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:

x = [i for i in range(1,21) if i%2==0]
x

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
names = ["ram", "shyam", "geeta"]
u_names=[]
for name in names:
    u_names.append(name.upper())
print(u_names)

['RAM', 'SHYAM', 'GEETA']

In [ ]:
mixed_numbers = [-3, -1, 0, 2, 5, -8, 10]
for i in mixed_numbers:
    if i >=0:
        print(i)

0
2
5
10

In [16]:
v= [i for i in mixed_numbers if i < 0]
v

[-3, -1, -8]

In [18]:
# word with more than 3 letters 
words = ["AI", "Python", "ml", "data", "ds"]
for i in words:
    if len(i)>3:
        print(i)

Python
data

In [20]:
x= [i for i in words if len(i)>3]
x

['Python', 'data']

In [21]:
# Filter names starting with "A"

names = ['Amit', "Raj", "Anita", "Anand", "Bharath"]
for i in names:
    if i[0]=="A":
        print(i)

Amit
Anita
Anand

In [ ]:
v = [i ]

In [32]:
mixed_numbers = [-3, -1, 0, 2, 5, -8, 10]
result = []
for i in mixed_numbers:
    if i >=0:
        result.append(i**2)
    else:
        result.append(i**3) 

print(result)

[-27, -1, 0, 4, 25, -512, 100]

In [34]:
marks = [30, 45, 60, 80, 25]

for m in marks:
    if m > 40:
        print("Pass")
    else:
        print("Fail")

Fail
Pass
Pass
Pass
Fail

In [35]:
b = ["Pass" if m > 40 else "Fail" for m in marks  ]
b

['Fail', 'Pass', 'Pass', 'Pass', 'Fail']

In [18]:
#Create a list of numbers from 1 to 15 that are divisible by 3
x=[]
for i in range(1,16):
    if i%3==0:
        x.append(i)
print(x)

[3, 6, 9, 12, 15]

In [17]:
x = [i for i in range(1,15) if i%3==0]
x

[3, 6, 9, 12]

In [19]:
#Given nums = [2, 4, 6, 8, 10], create a new list where each number is multiplied by 5 using list comprehension.
nums = [2, 4, 6, 8, 10]
n = []
for num in nums:
    n.append(num*5)
print(n)

[10, 20, 30, 40, 50]

In [20]:
n = [num*5 for num in nums ]
n

[10, 20, 30, 40, 50]

In [2]:
#Create a list of all characters in the string "python" using list comprehension
l =[]
a = "python"
for i in a:
    l.append(i)
print(l)

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
l = [i for i in a]
l

['p', 'y', 't', 'h', 'o', 'n']