## What is a loop?
A loop is a programming construct that allows you to execute a block of code repeatedly. Instead of writing the
same code multiple times, loops help you automate repetitive tasks.

### condition statements 

#### loops 

- print 100 numbers 
- check 50 email addressess 
- print "Hello" 10 times

In [1]:
# print 100 numbers 
for i in  range(1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [2]:
# print "Hello" 10 times
print("hello, student 1")
for i in range(1,11):
    print(f"Hello , student {i}")

hello, student 1
Hello , student 1
Hello , student 2
Hello , student 3
Hello , student 4
Hello , student 5
Hello , student 6
Hello , student 7
Hello , student 8
Hello , student 9
Hello , student 10

# Type of loops in python 

- Python has two types of loops:

1. **for** loop - Iterate over a sequence (list, tuple, string, range, etc)

2. **while** loop = Repeat as long as condition is True

## 1. For loop 

Definition

A for loop iterates over a sequence of items. It executes a block of code for each item in the sequence.

## Sytax for loop 

for variable in sequence:
    # code to execute for each item

How It Works

1. Takes the first item from the sequence

2. Assigns it to the variable

3. Executes the code block

4. Moves to the next item

5. Repeats until all items are processed

In [4]:
# list of fruits
fruits = ["apple","bananna","orange"]
for i in fruits:
    print(f"I like {i}")

I like apple
I like bananna
I like orange

In [7]:
# Loop on strings
w = "Python"
for o in w:
    print(o.upper())

P
Y
T
H
O
N

In [8]:
# step
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [12]:
# calculate sum of numbers 

# 1+ 2 + 3........ + 10
sum = 0
for i in range(1,11):
    sum +=i
print(f"sum of 1 to 10 : {sum}")

sum of 1 to 10 : 55

In [4]:
# calculate sum of numbers 

# 1+ 2 + 3........ + 10
sum = 0
for i in range(1,11):
    sum +=i
print(f"sum of 1 to 10 : {sum}")

sum of 1 to 10 : 55

In [15]:
# print multiplication table 
num = int(input("enter a number:"))
for i in range(1,10):
    result = num *i
    print(f"{num} * {i} = {result}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [16]:
## Count even and odd numbers from list 
numbers = [1,2,3,4,5,6,7,8,9,10,12,4,6,7,8,1,2,4]
even = 0
odd = 0
for i in numbers:
    if i %2==0:
        even += 1 
    else:
        odd += 1
print(f"Even numbers : {even}")
print(f"Odd numbers : {odd}")

Even numbers : 11
Odd numbers : 7

In [2]:
## Find maximum number 

numbers = [23, 45, 12, 67, 34, 89, 56, 100, 102, 156]
max_num = numbers[0]
for number in numbers:
    if number > max_num :
        max_num = numbers
print(f"Maximum number : {max_num}")

TypeError: '>' not supported between instances of 'int' and 'list'

In [5]:
text = input("Enter a string: ")

vowels = "aeiouAEIOU"
count = 0

for char in text:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Number of vowels: 2